* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

header {
  position: fixed;
  width: 100%;
  z-index: 900;
  color: #F0F0F0;
  height: 150px;
}

h1 {

  /*margin: 0.67em 0;*/
  color: #D3D3D3 ;
  text-align: left;
}

.badass {
  font-size: 3em;
  margin: 0 0 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: #679CA0;
  z-index: 100;
  height: 150px
}

.nav-links {
  padding: 0px 0 15px 30px;
  margin-right: 30px;
}
.nav-link {
  color: #848484;
  font-size: 20px;
  text-decoration: none;
}
.right-header-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 30px;
}

.left-header {
  display: flex;
  flex-direction: column-reverse;
}

.profile-nav {
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
}

.profile-icon {
  height: 20px;
  width: 20px;
}
.admin {
  color: #D3D3D3;
  padding: 0 10px;
  text-decoration: none;
}

.drop-down {
  height: 15px;
  width: 15px;
  vertical-align: middle;

}
/*nav bottom*/




.links {
  display: flex;
  padding: 0;
}
.links li {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.links img {
  display: flex;
  height: 3em;
  width: 3em;
}
.links a {
  color: #D3D3D3;
  font-size: .75em;
  text-decoration: none;
  justify-content: center;
}

img.pink-power {
  margin-right: .5em;
 }

/*.bottom-right {
  display: flex;
  align-items: flex-start;
  flex-direction: row-reverse;
  display: row;
}*/





/*CARDS CONTAINER*/
.main {
  width: 100%;
  min-height: 100vh;
  padding-top: 12em;
  background-color: #D3D3D3;
}

h2 {
  margin: 0em 1em .75em 1.7em;
}

.cards {
  width: 100% auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-around;
  padding: 0 10px;
}
/*INDIVIDUAL CARDS*/
.card {
  display: flex;
  flex-direction: column;
  margin: 0 .3em 2em;
  width: 20em;
  box-shadow: 0em .3em .4em  rgba(0, 0, 0, 0.5);
  background-color: #fff;
}

.hidden {
  display: hidden;
  background: none;
  border: none;
  box-shadow: none;
}
/*Card- Top Image Section*/
.arrow {
  width: 3.5em;
  height: 3.5em;
  padding: .5em;
  margin: .5em;
}

.top-image {
  position: relative;
  height: 150px;
}

/*BADASS WOMEN*/
#serena {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assets/serena-williams.jpg);
  background-size: cover;

}
#serena:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(assets/serena-williams.jpg);

}

#emily {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assets/emily-harrington2.jpg);
  background-position: 0% 72%;
  background-size: cover;
}
#emily:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(assets/emily-harrington2.jpg);

}

#kerri-misty {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assets/kerri-misty.jpg);
  background-size: cover;
  background-position: 0% 10%;
}
#kerri-misty:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(assets/kerri-misty.jpg);
    background-position: 0% 10%;

}

#bethany {
background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assets/bethany-hamilton.jpg);
  background-size: cover;
  background-position: bottom;
}

#bethany:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(assets/bethany-hamilton.jpg);
  background-size: cover;
  background-position: bottom;
}
#ingrid {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assets/ingrid-backstrom2.jpg);
    background-size: cover;
  background-position: bottom;
}
#ingrid:hover {
background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(assets/ingrid-backstrom2.jpg);
background-size: cover;
background-position: bottom;
}

#jenn {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assets/jenn-shelton.jpg);
    background-size: cover;
  background-position: center;
}
#jenn:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(assets/jenn-shelton.jpg);

}

#allyson {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assets/allyson-felix.jpg);
    background-size: cover;
}
#allyson:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(assets/allyson-felix.jpg);
}

#jessie {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assets/jessie-graff.jpg);
    background-size: cover;
  background-position: 100% 10%;
}
#jessie:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(assets/jessie-graff.jpg);
  background-position: 100% 10%;

}

/*Card- Bottom*/
.views-box {
  position: absolute;
  right: .75em;
  top: .75em;
  text-align: center;
}

.views {
  font-size: .5em;
  color: #fff;
}

.big-number {
  font-size: 1.75em;
  color: #D3D3D3;
}
.big-number2 {
  font-size: 1.75em;

}

.card-main {
  margin: 1em;

}

h3 {
  line-height: 1.5em;
}
h4 {
  font-style: italic;
}
.name-font {
  font-size: 1.25em;
}
#kw-mmt-font {
  font-size: 1.03em;
  line-height: 2em;
}
.time-stamp {
  font-size: .75em;
  margin-bottom: 1em;

}
.link-box{
  padding: .15em;
  margin-bottom: 1em;
  background-color: #d1d1d1;

}

.card-link {
  padding: .25em;
}
.link {
  text-decoration: none;
  font-size: .75em;
  overflow: hidden;
  text-overflow: clip ellipsis;
  white-space: initial;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  text-decoration: none;
  color: #3c485b;

}

.playlist {
}

h3 {
  font-size: .75em;
}

h4 {
  font-size: 1em;
}

.attachments {
  margin-top: 1em;
  margin-bottom: 0;
}

footer {
  height: 85px;
  background-color: #679CA0 ;
}



/*MEDIA QUERIES*/
@media screen and (max-width: 1200px) {

  .badass {
    font-size: 2.75em;
  }
}
@media screen and (max-width: 1000px) {

  nav {
    flex-direction: column-reverse;
    align-items: center;

  }

  header {
    position: relative;
  }
  .profile-nav {
    /*flex: none;
    float: right;*/
    position: absolute;
    top: 20px;
    right: 25px;
  }

  .badass {
    margin-top: 20px;
  }

  .main {
    padding-top: 25px;
  }

  .admin {
    display: none;

  }

  .profile-icon {
    margin-right: 10px;
  }


}

@media screen and (max-width: 630px) {

  .badass {
    font-size: 2em;
  }

@media screen and (max-width: 500px) {

  .badass {
    font-size: 1.5em;
    text-align: center;
    margin-top: -40px;
    }

    header {
      height: 95px;
    }
    nav {
      flex-direction: column;
    }

  .links {
    display: none;
  }
  .right-header-content {
    padding: 0;

  }

  .left-header {
    display: flex;
    flex-direction: column-reverse;
    height: 1px;
    width: 1px;
    padding-top: 100px;
    padding-left: 20px;
  }

  .empty {
    /*background-image: url("assets/fitness-woman.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 5px;
    height: 5px;
    padding-top: 80px;
    padding-left: 80px;
    border: 1px black;*/
}





}
