* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

header {
  position: fixed;
  width: 100%;
  z-index: 900;
}

h1 {
  margin-bottom: 5px;
  color: #525252 ;
  display: flex;
}

.logo-div {
  display: flex;
  font-size: 1em;
  color: #F0F0F0;
}
/*NAV BAR*/
nav {
  height: 9em;
  display: flex;
  flex-direction: column;
  background-color: #D81159;
  z-index: 100;
}

.top-nav {
  height: 75px;
  width: 100%;
}

.profile-nav {
  float: right;
  margin: 15px 30px 0 0;
  position: relative;
  width: 190px;
  height: 40px;
}

.profile-icon {
  position: absolute;
  display: inline-block;
}
.admin {
  color: #D3D3D3;
  position: absolute;
  right: 35px;
  display: inline-block;
  font-size: 100%
}

.drop-down {
  position: absolute;
  display: inline-block;
  left: 125px;
  margin-left: 40px;

}
/*nav bottom*/

.bottom-nav {
 display: flex;
 align-items: center;
 justify-content: space-between;

}
.logo-div {


}
.links {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.links li {
  display: flex;
  align-items: center;
  margin-right: 40px;
}

.links img {
  display: flex;
  height: 3em;
  width: 3em;
}
.links a {
  color: #D3D3D3;
  font-size: 1em;
  text-decoration: none;
  justify-content: center;

}

#shares a {
  color: #7f7f7f;
  font-size: 1.5em;
  text-decoration: none;
}

/*NAV BAR- bottom right*/


.b {

}
.badass {
  color: #D3D3D3 ;
  font-size: 2em;
  padding: 0 1em 0em 1em;
}




h1 {
  margin: 1em 0em .5em 1.7em;
}

/*CARDS CONTAINER*/
.main {
  min-height: 100vh;
  padding-top: 12em;
  background-color: #D3D3D3;
}

h2 {
  margin: 0em 1em .75em 1.7em;
}

.cards {
  width: 100% auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-around;
  margin: 0;
  margin-left: .75em;
  margin-right: .75em;
  margin-top: .75em;
  margin-bottom: 1.5em;
}
/*INDIVIDUAL CARDS*/
.card {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
  width: 20em;
  box-shadow: 0em .3em .4em  rgba(0, 0, 0, 0.5);
  background-color: #fff;

}


.hidden {
  display: hidden;
  background: none;
  border: none;
  box-shadow: none;
}
/*Card- Top Image Section*/
.arrow {
  width: 3.5em;
  height: 3.5em;
  padding: .5em;
  margin: .5em;
}

.top-image {
  position: relative;
  height: 22vh;
}

/*BADASS WOMEN*/
#serena {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assets/serena-williams.jpg);
  background-size: cover;

}
#serena:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(assets/serena-williams.jpg);

}

#emily {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assets/emily-harrington.jpg);
  background-size: cover;
}
#emily:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(assets/emily-harrington.jpg);

}

#kerri-misty {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assets/kerri-misty.jpg);
  background-size: cover;
  background-position: 0% 10%;
}
#kerri-misty:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(assets/kerri-misty.jpg);
    background-position: 0% 10%;

}

#bethany {
background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assets/bethany-hamilton.jpg);
  background-size: cover;
  background-position: bottom;
}

#bethany:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(assets/bethany-hamilton.jpg);
  background-size: cover;
  background-position: bottom;
}
#ingrid {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assets/ingrid-backstrom2.jpg);
    background-size: cover;
  background-position: bottom;
}
#ingrid:hover {
background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(assets/ingrid-backstrom2.jpg);
background-size: cover;
background-position: bottom;
}

#jenn {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assets/jenn-shelton.jpg);
    background-size: cover;
  background-position: center;
}
#jenn:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(assets/jenn-shelton.jpg);

}

#allyson {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assets/allyson-felix.jpg);
    background-size: cover;
}
#allyson:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(assets/allyson-felix.jpg);
}

#jessie {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assets/jessie-graff.jpg);
    background-size: cover;
  background-position: 100% 10%;
}
#jessie:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(assets/jessie-graff.jpg);
  background-position: 100% 10%;

}

/*Card- Bottom*/
.views-box {
  position: absolute;
  right: .75em;
  top: .75em;
  text-align: center;
}

.views {
  font-size: .5em;
  color: #fff;
}

.big-number {
  font-size: 1.75em;
  color: #D3D3D3;
}
.big-number2 {
  font-size: 1.75em;

}

.card-main {
  margin: 1em;

}

h3 {
  line-height: 1.5em;
}
h4 {
  font-style: italic;
}
.name-font {
  font-size: 1.25em;
}
#kw-mmt-font {
  font-size: 1.03em;
  line-height: 2em;
}
.time-stamp {
  font-size: .75em;
  margin-bottom: 1em;

}
.link-box{
  padding: .15em;
  margin-bottom: 1em;
  background-color: #d1d1d1;

}

.card-link {
  padding: .25em;
}
.link {
  text-decoration: none;
  font-size: .75em;
  overflow: hidden;
  text-overflow: clip ellipsis;
  white-space: initial;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  text-decoration: none;
  color: #3c485b;

}

.playlist {
}

h3 {
  font-size: .75em;
}

h4 {
  font-size: 1em;
}

.attachments {
  margin-top: 1em;
  margin-bottom: 0;
}

footer {
  height: 85px;
  background-color: #D81159 ;
}



/*MEDIA QUERIES*/

@media(max-width: 320px) {

header {
  margin: 0;
}

.main {
  padding-top: 11em;
}
  .logo-div {
  display: flex;
  width: 100%;
  flex-wrap: wrap-reverse;
  font-size: 1em;
  color: #F0F0F0;
  }

h2 {
  display: none;
}
.cards {

}
.hidden {
  display: none;
}
.links img {
  display: flex;
  height: 2.5em;
  width: 2.5em;
  margin-top: 1.5em;
  margin-left: .5em;
 }

.pink-runner {
  margin-left: .5em;
}

.top-nav {
  margin-left: 1.25em;
}
.icons {
  display: none;
}

.admin {
  display: none;
}
.profile-icon {
  display: none
}
.drop-down {
  margin-top: 0;
}
.top-nav {
  margin-top: 0;
}

@media(max-width: 550px) {
  h2 {
    display: none;
  }
  .icons {
    display: none;
  }

  .admin {
    display: none;
  }
  .profile-icon {
    display: none
  }
  .drop-down {
    margin-top: 0;
  }
  .top-nav {
    margin-top: 0;
  }
}



@media(max-width: 970px) {

}

@media(max-width: 1070px) {

}

@media(max-width: 1450px) {

}
@media(max-width: 1800px) {

}
